{% extends 'navigation.html' %}
{% load static %}
{% block content %}
<style>
    caption{
        color: #79aec8;
    }

    h3 a{
        padding-left: 20px;
        text-decoration: none;
        color: black;
    }

    h3 a:hover{
        color: #5b80b2;
    }

    tr button a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    tr button{
        padding: 10px 20px;
        background-color: #79aec8;
        border-radius: 5px;
        margin-left: 10px;
    }

    tr button:hover{
        background-color: #417690;
    }
</style>


<table>
    <caption>Danh sách Địa điểm</caption>
    <h3><a href="{% url 'add_dia_diem' %}">Tạo Địa điểm</a></h3>
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã địa điểm</th>
        <th>Tên địa điêm</th>
        <th>Địa chỉ</th>
        <th>Mã nhân viên</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
            {% for dia_diem in danh_sach_dia_diem %}
                <tr>
                    <td style="color: #417690;">{{forloop.counter}}</td>
                    <td>{{dia_diem.ma_dia_diem}}</td>
                    <td>{{dia_diem.ten_dia_diem}}</td>
                    <td>{{dia_diem.dia_chi_dia_diem}}</td>
                    <td>{{dia_diem.ma_nhan_vien}}</td>
                    <td><button><a href="{% url 'update_dia_diem' dia_diem.id %}">CẬP NHẬT</a></button><button><a href="{% url 'delete_dia_diem' dia_diem.id %}">XÓA</a></button></td>
                </tr>
            {% endfor %}
    </tbody>
  </table>
  
  

{% endblock content %}